* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #3B3B3B;
}
a{
    text-decoration: none;
}
a:hover{
    color: #FFE002;
}

.header {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #1c1c1c;
}
.header img{
	width: 50px;
	height: 50px;
}
.logo{
	display: flex;
    padding: 5px;
}
.logo a{
	display: flex;
	text-decoration: none;
}
.logo a h1:hover{
    color: #FFE002;
	animation: underline 0.5s forwards;
}
.logo h1{
	margin-left: 5px;
	margin-top: 6px;
	color:  #FFB606;
	font-family: ui-sans-serif;
}
nav {
	float: right;
	margin-top: -42px;
}
nav ul {
	list-style: none;
}
nav ul li {
	float: left;
	margin-left: 20px;

}
nav ul li a {
	color:  #FFB606;
	text-decoration: none;
  font-size: 20px;  
}

section{
		display: grid;
		grid-template-columns: 231px 230px 230px 230px 230px;
		margin: 10px;
		justify-content: center;
		gap: 20px;
}
.filter{
	grid-row: 1/5;
	border-right: #FFE002 2px solid;
	height: 100%;
}
.filter h1{
	color: #FFB606;
	margin-top: 20px;
	
}

.n {
	border: #FFE002 1px solid;
	border-radius: 10px;
	margin: 5px;
	width: 220px;
}
.toko-item{
	margin: 15px 0 10px 0;
}
.item-prdk{
	text-decoration: none;
	display: block;
	width: 210px;
	margin: 0 5px 0 5px;
}
.item-prdk h3{
	color: #FFB606;
	font-size: 15px;
	margin-left: 5px;
}

.item-prdk img{
	width: 200px;
	height: 200px;
	margin-left: 5px;
}

footer {
	background-color: #1c1c1c;
	color: #fff;
	padding: 7px 0;
}

@keyframes underline {
	0%{
		border-bottom: 1px solid #B28228;
	}
	100%{
		border-bottom: 2px solid #FFE002;
	}
}